* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  margin: 15px 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#wrapper h2 {
  margin-bottom: 10px;
}

#wrapper button {
  margin-bottom: 20px;
}

#colors {
  width: 80%;
  margin: auto;
}

#colors #background-colors {
  float: left;
  width: 33%;
}

#colors #pen-colors {
  float: right;
  width: 33%;
}

#colors #clear {
  float: left;
  margin: auto;
  width: 33%;
}

canvas {
  margin: auto;
  display: block;
}

#canvas {
  border: 2px solid black;
  height: 80vh;
  width: 80%;
  margin-bottom: 20px;
}
